<ion-header>
  <ion-toolbar>
    <ion-segment>
      <ion-segment-button>
        <ion-label>a</ion-label>
      </ion-segment-button>
      <ion-segment-button >
        <ion-label>b</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-card>
        <ion-card-header>
          <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
          <ion-card-title>Card Title</ion-card-title>
        </ion-card-header>
      
        <ion-card-content>
          Keep close to Nature's heart... and break clear away, once in awhile,
          and climb a mountain or spend a week in the woods. Wash your spirit clean.
        </ion-card-content>
      </ion-card>
    </ion-item>
    <ion-item>
      <ion-label>checkbox 1</ion-label>
      <ion-checkbox slot="end"></ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-label>checkbox 2</ion-label>
      <ion-checkbox color="success" slot="end"></ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-badge>99</ion-badge>
      <ion-label>badge</ion-label>
      <ion-badge color="success">99</ion-badge>
    </ion-item>
    <ion-item>
      <ion-chip>
        <ion-icon name="pin" color="success"></ion-icon>
        <ion-label>Icon Chip</ion-label>
        <ion-icon name="close"></ion-icon>
      </ion-chip>
    </ion-item>
    <ion-item>
      <ion-chip>
        <ion-icon name="pin" color="primary"></ion-icon>
        <ion-label>Icon Chip</ion-label>
        <ion-icon name="close"></ion-icon>
      </ion-chip>
    </ion-item>
    <ion-item>
      <ion-progress-bar value="0.25" buffer="0.5"></ion-progress-bar>
    </ion-item>
    <ion-item>
      <ion-progress-bar type="indeterminate"></ion-progress-bar>
    </ion-item>
    <ion-item>
      <ion-progress-bar type="indeterminate" reversed="true"></ion-progress-bar>
    </ion-item>
    <ion-item>
      <ion-skeleton-text animated style="width: 70%"></ion-skeleton-text>
    </ion-item>
    <ion-item>
      <ion-spinner></ion-spinner>
      <!-- Lines -->
      <ion-spinner name="lines"></ion-spinner>
      <!-- Lines Small -->
      <ion-spinner name="lines-small"></ion-spinner>
      <!-- Dots -->
      <ion-spinner name="dots"></ion-spinner>
      <!-- Bubbles -->
      <ion-spinner name="bubbles"></ion-spinner>
      <!-- Circles -->
      <ion-spinner name="circles"></ion-spinner>
      <!-- Crescent -->
      <ion-spinner name="crescent"></ion-spinner>
      <!-- Paused Default Spinner -->
      <ion-spinner paused></ion-spinner>
    </ion-item>
    <ion-item>
      <ion-radio-group>
        <ion-list-header>
          <ion-label>Name</ion-label>
        </ion-list-header>
        <ion-item>
          <ion-label>Biff</ion-label>
          <ion-radio slot="start" value="biff" checked></ion-radio>
        </ion-item>
        <ion-item>
          <ion-label>Griff</ion-label>
          <ion-radio slot="start" value="griff"></ion-radio>
        </ion-item>
        <ion-item>
          <ion-label>Buford</ion-label>
          <ion-radio slot="start" value="buford"></ion-radio>
        </ion-item>
      </ion-radio-group>
    </ion-item>
    <ion-item>
      <ion-range color="danger" pin="true"></ion-range>
    </ion-item>
    <ion-item>
      <ion-range min="-200" max="200">
        <ion-label slot="start">-200</ion-label>
        <ion-label slot="end">200</ion-label>
      </ion-range>
    </ion-item>
    <ion-item>
      <ion-range min="20" max="80" step="2">
        <ion-icon size="small" slot="start" name="sunny"></ion-icon>
        <ion-icon slot="end" name="sunny"></ion-icon>
      </ion-range>
    </ion-item>
    <ion-item>
      <ion-range min="1000" max="2000" step="100" snaps="true" color="secondary"></ion-range>
    </ion-item>
    <ion-item>
      <ion-range min="1000" max="2000" step="100" snaps="true" ticks="false" color="secondary"></ion-range>
    </ion-item>
    <ion-item>
      <ion-range dualKnobs="true" min="21" max="72" step="3" snaps="true"></ion-range>
    </ion-item>
    <ion-label>Hair Color</ion-label>
    <ion-select value="brown" okText="Okay" cancelText="Dismiss">
      <ion-select-option value="brown">Brown</ion-select-option>
      <ion-select-option value="blonde">Blonde</ion-select-option>
      <ion-select-option value="black">Black</ion-select-option>
      <ion-select-option value="red">Red</ion-select-option>
    </ion-select>
  </ion-list>
  
  

</ion-content>
